In [1]:

import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Text Preprocessing
import re
import string
import nltk
from string import punctuation
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer

#Model building
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay

In [3]:
df = pd.read_csv("comments_t.csv")
df.head()

,Unnamed: 0,Video ID,Comment,Likes,Sentiment
0,0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95.0,1.0
1,1,wAZZ-UWGVHI,Here in NZ 50% of retailers don’t even have co...,19.0,0.0
2,2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161.0,2.0
3,3,wAZZ-UWGVHI,Whenever I go to a place that doesn’t take App...,8.0,0.0
4,4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34.0,2.0

In [4]:
df.columns

Index(['Unnamed: 0', 'Video ID', 'Comment', 'Likes', 'Sentiment'], dtype='object')

In [5]:
import pandas as pd

# Assuming df is your DataFrame
df = pd.read_csv("comments_t.csv")

# Drop the specified columns
columns_to_drop = ['Unnamed: 0', 'Video ID', 'Likes']
df = df.drop(columns=columns_to_drop)

# Display the updated DataFrame
df.head()

                                             Comment  Sentiment
0  Let's not forget that Apple Pay in 2014 requir...        1.0
1  Here in NZ 50% of retailers don’t even have co...        0.0
2  I will forever acknowledge this channel with t...        2.0
3  Whenever I go to a place that doesn’t take App...        0.0
4  Apple Pay is so convenient, secure, and easy t...        2.0

In [6]:
df.isnull().sum()

Comment      1
Sentiment    0
dtype: int64

In [7]:
df.dropna(subset='Comment', inplace=True)

In [8]:
df.duplicated().sum()

414

In [9]:
df.drop_duplicates(keep='first', inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17994 entries, 0 to 18408
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Comment    17994 non-null  object
 1   Sentiment  17994 non-null  float64
dtypes: float64(1), object(1)
memory usage: 421.7+ KB

In [11]:
df['Sentiment'].value_counts()

2.0    11141
1.0     4532
0.0     2321
Name: Sentiment, dtype: int64

In [12]:
# Assuming df is your cleaned DataFrame
df.to_csv("cleaned_comments.csv", index=False)